[submodule "subprojects/chemskr"]
	path = subprojects/chemskr
	url = https://github.com/heimskr/chemskr.git
[submodule "subprojects/sqlitecpp"]
	path = subprojects/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "subprojects/namegen"]
	path = subprojects/namegen
	url = https://github.com/heimskr/namegen.git
[submodule "subprojects/miniaudio"]
	path = subprojects/miniaudio
	url = https://github.com/heimskr/miniaudio.git
[submodule "voronoi"]
	path = voronoi
	url = https://github.com/JCash/voronoi.git
