[submodule "libnoise"]
	path = libnoise
	url = https://github.com/qknight/libnoise.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
