*.o
/game3
/.dep
/src/gtk_resources.cpp
/.dep.bak
*.g3
!/resources/templates/*.g3
/resgen
/include/resources.h
*.zst
/.github-deps
/*.zip
*.o.tmp
*.crt
*.key
/.secret
/users.json
/tokens.json
/world
/gmon.out
/analysis.txt
/perf.*
/strace_out
*PVS-Studio*
/pvs.log
/pvs.tasks
/*.png
*.db
*.db-journal
/.flatpak-builder
/vcpkg_installed
/build
/builddir
/src/resgen
*~
/*.flatpak
/settings.json
/split
/core
/.force-migrate
/.seed
pvs-analysis.log
/pvs-report
/core.*
vgcore.*
/*.core
/_*
/.localsecret
/game3.log
