.item-slot {
	border-right:  1px solid black;
	border-bottom: 1px solid black;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.25);
	margin: 0;
	padding: 0;
	color: white;
}

.item-slot.active-slot {
	background: rgba(255, 255, 255, 0.25);
}

.item-slot > label {
	text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 1px 0 0, black 0 1px 0, black -1px 0 0, black 0 -1px 0;
	padding-right: 2px;
	padding-bottom: 2px;
}

progressbar.item-durability.horizontal > trough {
	min-width: 10px;
}

.text-tab {
	padding: 10px;
}

.crafting-tab {
	padding: 10px;
	padding-top: 5px;
}

.recipe {
	padding-top: 5px;
}

.recipe .right {
	padding-left: 10px;
}

.recipe .output-label {
	padding-bottom: 1px;
	font-weight: bold;
}

.recipe .input-label {
	padding-left: 10px;
}

.equation_error {
	color: red;
}

.equation_success {
	color: green;
}

.comparator-button {
	padding-left: 10px;
	padding-right: 10px;
}

.buy-sell-button {
	padding-left: 10px;
	padding-right: 10px;
}

.red-bg {
	background: red;
}

.no-radius {
	border-radius: 0;
}
